<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <!-- <rosparam command="load" file="$(find robot_localization)/params/ekf_template.yaml" /> -->
    <rosparam command="load" file="$(find bring_up)/params/ekf.yaml" />

    <!-- Placeholder for output topic remapping -->
    <remap from="odometry/filtered" to="ekf/Odometry"/>

  </node>
</launch>