<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" output="screen">

    <!-- Load config file -->
    <rosparam command="load" file="$(find bring_up)/params/ekf.yaml"/>

    <!-- Placeholder for output topic remapping -->
    <remap from="odometry/filtered" to="ekf/Odometry"/>

  </node>
</launch>
