<?xml version="1.0" encoding="UTF-8" ?>
<launch>
        <env name="GAZEBO_MODEL_PATH" value="$(find bring_up)/models"/>

        <!-- overwriting these args -->
        <arg name="debug" default="false" />
        <arg name="gui" default="true" />
        <arg name="pause" default="false" />
        <arg name="world" default="$(find bring_up)/maps/mundo4.world" /><!-- winding_valley-->
        <arg name = "extra_gazebo_args" default="--verbose"/>

        <!-- include gazebo_ros launcher -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name" value="$(arg world)" />
                <arg name="debug" value="$(arg debug)" />
                <arg name="gui" value="$(arg gui)" />
                <arg name="paused" value="$(arg pause)" />
                <arg name="use_sim_time" value="true" />
                <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
        </include>

        <!-- Teleop with Joy-->
        <include file="$(find teleop_twist_joy)/launch/teleop.launch"></include>

        <!-- Add Rviz-->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bring_up)/rviz/QT1.rviz"/>
        
        <!-- Robot description (ilhuacamina)-->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find bring_up)/URDF/QT1.xacro'"/>
        <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
                args="-urdf -param robot_description -model QT1 "/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
                <param name="use_tf_static" value="false"/>
        </node>

        <!-- Add gmapping for SLAM mapping-->
        <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" clear_params="true">
                <param name ="base_frame" value="chassis_link" />
                <param name="map_update_interval" value="30.0"/>
        </node>


        <!-- Robot description (Qt1)-->
        <!-- <param name="robot_description" command="cat '$(find bring_up)/URDF/my_robot.urdf'" />
        <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
                args="-urdf -param robot_description -model model" />
        Agregado-->

</launch>